.hero {
    background: url(../../images/banners/hero.jpg) no-repeat center;
    background-size: cover;
    height: 500px;
    position: relative;
    border-radius: 20px;
}

.hero-overlay {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 6rem;
}

.hero .hero-content {
    color: #ffffff;
    max-width: 360px;
    text-align: center;
}

.hero .hero-content .hero-title {
    font-size: 1.87rem;
    margin-bottom: 40px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 3px;
}

.hero-content .hero-subtitle {
    font-size: 1.25rem;
    font-weight: 400;

}

.hero-buttons{
    display: flex;
    gap:16px
}

@media (max-width: 768px){
    .hero{
        height: 660px;
    }
    .hero-overlay{
        justify-content: center;
        padding: 0;
    }
    .hero .hero-content{
        max-width: 330px;
        margin: 0 auto;
    }
    .hero .hero-content .hero-title{
        font-size: 1.5rem;
    }
    .hero .hero-content .hero-subtitle{
        font-size: 1.25rem;
    }

    .btn{
        font-size: 1.2rem;
    }
}